/* 
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body {
    font-family: "Montserrat", sans-serif;
}

section {
    height: 100vh;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 45px;
}

h1 {
    font-size: 50px;
}

.name {
    color: darkorange;
    font-style: italic;
}

.myImage {
    width: 80%;
    height: 50%;
    border-radius: 50%;
}

.btn-class a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.btn-class {
    padding: 10px;
    width: 100px;
    background-color: darkorchid;
    transition: 0.5s;
    border-radius: 10px;
}

.btn-class:hover {
    transform: scaleX(1.1);
}

.dream-section {
    float: left;
    background-image: url("images/my-bg.png");
    background-repeat: no-repeat;
}

.experience-section {
    justify-content: center;
    padding-left: 70px;
    float: left;
}

.ex-half-width {
    width: 40%;
    height: 300px;
    float: left;
    text-align: start;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    border-left: 5px solid blue;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 12px darkgray;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}

.footer-class {
    width: 100%;
    float: left;
    background-image: url("images/my-bg.png");
    color: black;
    padding: 20px;
    text-align: center;
    border: 1px solid magenta;
    margin: 10px;
}

.footer-class a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

.footer-class a:hover {
    color: blue;
}

.footer-class p {
    margin: 20px;
}